<#include "header.htm"/>
<#import "../macros/pagination.ftl" as pagination>
<#assign breadCrumb>
<div class="container-fluid breadcrumb-bg">
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="${JForumContext.encodeURL("/forums/list")}"><i class="fa fa-home"></i> ${I18n.getMessage("ForumListing.forumIndex")}</a></li>
			<li class="active"> ${I18n.getMessage("ModerationLog.moderationLog")}</li>

			<span id="date_time"></span><!--date_time-->
		</ol><!--breadcrumb-->
	</div><!--container-->
</div>
</#assign>

${breadCrumb}
<script type="text/javascript" src="${contextPath}/templates/${templateName}/js/pagination.js?${startupTime}"></script>
<div class="container">
	<div class="col-sm-9 left-section">
		<h1 class="title">${I18n.getMessage("ModerationLog.moderationLog")}</h1>
		<#list activityLog as log>
		<div class="row boxbg">
			<div class="col-xs-1 col-sm-1 icon-img">
				<img src="${contextPath}/templates/styles/images/moderation-log-ic.png">
			</div><!--icon-img-->
			<div class="col-sm-11 forum-info">
				<a href="#"><h3>${log.description?html}</h3></a>
				<p>${log.original_message?html}</p>
				<ul class="sub-info">
					<li><a href="#"><i class="fa fa-folder-open"></i> ${I18n.getMessage("ModerationLog.type")} :
						<#if log.type == 0>
						${I18n.getMessage("ModerationLog.typeMoved")}
						<#elseif log.type == 1>
						${I18n.getMessage("ModerationLog.typeDeleted")}
						<#elseif log.type == 2>
						${I18n.getMessage("ModerationLog.typeEdited")}
						<#else>
						${I18n.getMessage("ModerationLog.typeLockUnlock")}
					</#if></a></li>
					<li><a href="${JForumContext.encodeURL("/user/profile/${log.user.id}")}"><i class="fa fa-user"></i> ${I18n.getMessage("ModerationLog.user")} : ${log.user.username}</a></li>
					<li><a href="#"><i class="fa fa-eye"></i> ${I18n.getMessage("ModerationLog.action")} :
						<#if log.topicId != 0>
						[<a href="${JForumContext.encodeURL("/posts/list/${log.topicId}")}">${I18n.getMessage("ModerationLog.viewTopic")}</a>]<br>
					</#if>

					<#if log.postId != 0>
					[<a href="${JForumContext.encodeURL("/posts/preList/${log.topicId}/${log.postId}")}">${I18n.getMessage("ModerationLog.viewMessage")}</a>]
				</#if></a></li>
					<li><i class="fa fa-calendar"></i>${log.date?datetime}</li>
					<!--<li><i class="fa fa-clock-o"></i> 06:10:50</li>-->
				</ul>
			</div><!--forum-info-->
		</div><!--row / boxbg-->
	</#list>


		<!--<div class="pagination-section">
			<ul class="pagination">
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">6</a></li>
				<li><a href="#">7</a></li>
				<li><a href="#">8</a></li>
			</ul>&lt;!&ndash;pagination&ndash;&gt;
		</div>&lt;!&ndash;pagination-section&ndash;&gt;-->

	</div><!--col-sm-9 / left-section-->

	<div class="col-sm-3 right-section">
		<h1 class="title">calendar</h1>
		<div class="calendar">
			<div id="datepicker" data-date="12/03/2012"></div>
			<input type="hidden" id="my_hidden_input">
		</div><!--calendar-->

		<h1 class="title">Who is online</h1>
		<div class="boxbg2">
			<p>Our users have posted a total of 3 messages</p>
			<p>We have 5 registered users The newest registered user is <a href="#">wangyi</a></p>
			<hr>
			<p>There are 5 online users</p>
			<p><i class="fa fa-circle registered"></i> <span>1 Registered</span></p>
			<p><i class="fa fa-circle guest"></i> <span>4 Guest</span></p>
			<p>There are 5 online users</p>
			<p class="date"><i class="fa fa-calendar"></i> 04/01/2018 | <i class="fa fa-clock-o"></i> 06:10:50</p>
			<p>Connected users : <span>Anonymous</span></p>
		</div><!--boxbg2-->

	</div><!--col-sm-3 / right-section-->
</div><!--container-->
<#include "bottom.htm"/>